<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body> la boutiqueeeee
    <%= error %>
        <form method="post" action="/boutique/"><input type="text" name="search"><input type="submit" value="Submit"></form>
        <table>
            <th><a href="?sort=nm">nom</a></th>
            <th><a href="?sort=pr">prix</th>
            <th><a href="?sort=ct">cat</th>
            <%for (var result in results){%>
                <tr>
                    <td>
                        <a href="/boutique/<%= results[result]['_id'] %>">
                            <%=results[result]["nom"]%>
                        </a>
                </td>

                <td>
                    <%=results[result]["prix"]%>
                </td>
                <td>
                    <%=results[result]["categorie"]%>
                </td>
                </tr>
                <%}%>
        </table>
</body>

</html>